@model EShop.Models.Order

<form method="post" asp-action="Details">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Szczegóły zamówienia</h2>
        </div>
        <div class="container">
            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="OrderNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="OrderNumber" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Email" disabled class="form-control" />
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FirstName" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="LastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LastName" disabled class="form-control" />
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="IsRealized"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsRealized" disabled type="checkbox" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="OrderDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="OrderDate" disabled class="form-control" />
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="PhoneNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PhoneNumber" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="CardName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CardName" disabled class="form-control" />
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="CardNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CardNumber" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="CardValidity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CardValidity" disabled class="form-control" />
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="CardCvv"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CardCvv" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="Street"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Street" disabled class="form-control" />
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="City"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="City" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="ZipCode"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ZipCode" disabled class="form-control" />
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="Country"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Country" disabled class="form-control" />
                    </div>

                </div>

                <div class="form-group col">
                    <div class="col-4">
                        <label asp-for="TotalAmount"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TotalAmount" disabled class="form-control" />
                    </div>

                </div>

            </div>

            <br />

            <div class="form-group row">


                <div class="col-5">
                    <a asp-action="OrderMoreInfo" asp-route-Id="@Model.Id" class="btn btn-primary w-100"> Więcej szczegółów</a>
                </div>

                <div class="col-5">
                    <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Wróć</a>
                </div>

            </div>

            <div class="w-100"></div>
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

