@model IEnumerable<EShop.Models.Category>

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6 pb-4">
                <h2 class="text-primary display-4">Lista kategorii</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="fas fa-plus"></i> &nbsp; Dodaj nową kategorię
                </a>
            </div>
        </div>
    </div>


    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%" id="myTable">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Nazwa kategorii
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="80%">@obj.CategoryName</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger mx-2">
                                    <i class="fas fa-trash-alt"></i>
                                </a>

                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <div>
            <h2>Brak kategorii</h2>
        </div>
    }

    @section scripts {
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#myTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5'
                    ]
                });
            });
            $(function() {
                var save = '@TempData["create"]'
                if (save != '') {
                    alertify.success(save);
                }
                var del = '@TempData["delete"]'
                if (del != '') {
                    alertify.success(del);
                }
            })
        </script>
    }

