@page
@model RegisterConfirmationModel

<h1 class="pt-4">Weryfikacja adresu email</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ta aplikacja nie ma obecnie zarejestrowanego prawdziwego nadawania wiadomości e-mail, zobacz <a href="https://aka.ms/aspaccountconf">dokumentacja</a> jak skonfigurować prawdziwe nadawanie wiadomości e-mail.
            Zwykle zostanie to wysłane e-mailem: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj aby zweryfikować email.</a>
        </p>
    }
    else
    {
        <p>
            Proszę sprwadzić swój email w celu weryfikacji konta.
        </p>
    }
}
