@page
@model RegisterConfirmationModel

@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p class="pt-4">
            Ta aplikacja nie ma obecnie zarejestrowanego prawdziwego nadawania wiadomości email, zobacz <a href="https://aka.ms/aspaccountconf">dokumentacja ASP.Net</a> jak skonfigurować prawidłowo wiadomości email.
            Zwykle zostanie wysłane potwierdzenie emailem:
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj aby potwierdzić swoje konto</a>
        </p>
    }
    else
    {
        <p>
            Sprawdź pocztę email, aby potwierdzić swoje konto.
        </p>
    }
}
